eth_research/** 
__pycache__/** 
venv/** 
*.pyc
libsnark/**
.python-version
circuit.zkif
computation.zkif
pysnark_ek
pysnark_log
pysnark_vk
bellman-pk  
bellman-proof
*.fls
*.log
*.aux
*.out
*.toc
*.nav
*.fdb_latexmk
*.synctex.gz
*.blg
*.bbl
*.snm
*.env